<style>
	.hoverRainbow:hover,.hoverRainbow:active{
		background-image: url("/assets/6colorRainbowA.gif");
		color: white;
		}
</style>

<div style="
	background-color: #f7f7f7;
	display			: inline-block;
	width			: 100%
">

<table>
	<tr>
		<td rowspan="2"><!--↓後でアンダーライン消す-->
			<A class="ri-home-8-fill ri-3x" href="/"></A>
		</td>
		<td>
			<A 
			href="/" 
			style="color:black;
				   text-decoration: none;"
			>
			<i class="ri-tools-fill ri-lg"></i>
			nusuttoChan Web<i class="ri-question-mark"></i> UI
			</A>
		</td>
		<td>
			<A href="/settings"><i class="ri-settings-5-line"></i>せってい</A>
			<A href="/pages?page=about"><i class="ri-passport-line"></i>このAppについて</A>
			<A href="https://github.com/hiyok0/nusuttoChan/" class="hoverRainbow"><i class="ri-github-fill"></i>Fork me on GitHub</A>
		</td>
	</tr>
	<tr>
		<td>
			<A href="/remixiconlisence"><i class="ri-file-paper-2-line"></i>Webフォントのライセンス</A>
		</td>
		<td>
			<A href="/pages?page=opensorcelicenses"><i class="ri-file-paper-2-line"></i>本体に使われてるライブラリ等のライセンス</A>
		</td>
	</tr>
</table>

</div>
