<!DOCTYPE html>
<html>
<head>
	{{> defaultHead }}
	<title>このAppについて - Nimos</title>
</head>
<body>
	<header>{{> header }}</header>
	<h1>このAppについて</h1>
	<h2><A href="https://github.com/hiyok0/Nimos/blob/master/README.md">大体ここに書いてある<i class="ri-github-fill"></i></A></h2>
	<p>
		　後でちゃんと書く。<br />
		　ここは主にWeb？ UIから見る用</p>
</body>
</html>
