<!DOCTYPE html>
<html>
<head>
	{{> defaultHead }}
	<title>本体に使われてるライブラリ等のライセンス - nusuttoChan</title>
</head>
<body>
	<header>{{> header }}</header>
	<div>
		<h1><i class="ri-npmjs-line ri-lg"></i>同梱されてるライセンスたち</h1>
	</div>
	<div><iframe src="/opensorcelicenses" width="100%" height="500rem"></iframe></div>
</body>
</html>
