<!DOCTYPE html>
<html>
<head>
	{{> defaultHead }}
	<title>webフォントのライセンス - nusuttoChan</title>
</head>
<body>
	<header>{{> header }}</header>
	<div>
		<h1><i class="ri-remixicon-fill"></i>Remix Icon's lisence</h1>
		<h2><A href="https://remixicon.com/"><i class="ri-user-2-fill"></i>Remix Design <i class="ri-copyright-line"></i> 2020</A></h2>
	</div>
	<div><iframe src="/assets/remixiconapache20.txt" width="100%" height="500rem"></iframe></div>
</body>
</html>
