<!DOCTYPE html>
<html>
<head>
	{{> defaultHead }}
	<title>報告 - Nimos</title>
</head>
<body>
	<header>{{> header }}</header>
	<h1><i class="ri-alarm-warning-line"></i>バグ報告・質問等</h1>
	<A>未実装の場合、example.comに飛ばされます。</A>
	
	<h2><i class="ri-discord-line"></i>Discordサーバーで報告・質問・相談する（推奨）</h2>
	<A>hiyoko Projectのサポートサーバーです。お気軽にご参加ください。<br /></A>
	<A href="contact?on=DiscordIntro">Discordサーバーの紹介ページ</A>
	<A href="contact?on=DiscordInvite">サーバーに参加する（招待リンク）</A><br />
	<A>招待リンクは失効している場合があります。その際は紹介ページより確認いただくか、他の方法をお試しください。</A>
	
	<h2><i class="ri-github-line"></i>GitHubでissueをたてる</h2>
	<A href="contact?on=GitHubIssue">Issues hiyok0/Nimos</A>
	
	<h2><i class="ri-list-unordered"></i>GoogleFormで報告</h2>
	<A href="contact?on=GoogleForm">報告・質問用GoogleFormを開く</A>
	
	<h2><i class="ri-twitter-line"></i>Twitterでメンション（あまり推奨しない）</h2>
	<A>他の方法と比べ、回答がざっくりとしたものになりがちです。</A>
	<A href="contact?on=Twitter"><i class="ri-at-line"></i>Jewel_Flashにメンションする。</A>
</body>
</html>
