<!DOCTYPE html>
<html>
<head>
	{{> defaultHead }}
	<title>報告 - nusuttoChan</title>
</head>
<body>
	<header>{{> header }}</header>
	<h1><i class="ri-alarm-warning-line"></i>バグ報告・質問等</h1>
	<h2><i class="ri-twitter-line"></i>Twitterでメンション</h2>
	<A href="contact?on=Twitter"><i class="ri-at-line"></i>Jewel_Flashにメンションする。</A>
	<h2><i class="ri-github-line"></i>GitHubでissueをたてる</h2>
	<A href="contact?on=GitHubIssue">Issues hiyok0/nusuttoChan</A>
	<h2><i class="ri-list-unordered"></i>GoogleFormで報告</h2>
	<A>未実装、example.comが開きます</A>
	<A href="contact?on=GoogleForm">報告・質問用GoogleFormを開く</A>
	<h2><i class="ri-discord-line"></i>Discordの鯖で報告する</h2>
	<A>サポートサーバーではありません。しかし、お気軽にご参加ください。<br />
	リンク切れの場合はアップデートを確認する、他の方法からの連絡をご検討ください。</A><br />
	<A href="contact?on=Discord">サーバーに参加する</A>
</body>
</html>
