<!DOCTYPE html>
<html>
<head>
	{{> defaultHead }}
	<title>このAppについて - nusuttoChan</title>
</head>
<body>
	<header>{{> header }}</header>
	<h1>このAppについて</h1>
	<h2><A href="https://github.com/hiyok0/nusuttoChan/blob/master/README.md">大体ここに書いてある<i class="ri-github-fill"></i></A></h2>
	<p>
		　後でちゃんと書く。<br />
		　手抜きしたせいでアプリ内から開くと戻れなくなるので、その場合は一度ウィンドウを閉じてからもう一度Appをアクティブにして。</p>
</body>
</html>
